<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NotifierSvcBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NotifierSvcBehavior" name="SmartNotifier.Service.Service1">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          name="NotifierSvcNetTcpEndPoint" contract="SmartNotifier.Service.IService1" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="NotifierSvcMexTcpEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8321/NotifierSvc" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
